[Unit]
Description=PostgresSQL Exporter service
After=network.target

[Service]
User=postgres_exporter
ExecStart=/usr/bin/postgres_exporter
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
